<nav class="navbar navbar-inverse" style="width:100%">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li class="active"><button class="openbtn" style="height:100%;border:transparent;background-color: transparent;" onclick="openNav() ">&#9776;</button></li>

            <li class="active"><a href="#">Home</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">


            <li><a href="/accounts/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>