.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(173, 166, 166);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    color: black;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(20, 19, 19);
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: white;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 18px;
    margin-left: 50px;
}

.navbar {
    font-size: 10px;
    cursor: pointer;
    background-color: rgb(104, 100, 100);
    color: black;
    /* padding: 10px 15px; */
    border: none;
    width: 100%;
}

.openbtn {
    background-color: grey;
    width: 50px;
}

.openbtn:hover {
    background-color: rgb(138, 134, 134);
}

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* .table {
            background-image: url('/static/images/back.webp');
            background-position: center;
            
    
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
*/

.projects {
    background-image: url('/static/images/back.webp');
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    color: white;
}

button {
    background-color: transparent;
    opacity: 0.5;
    width: 100px;
    border-radius: 40px;
    color: white;
    font-weight: bold;
}

h4 {
    color: black;
}

.categories {
    width: 100%;
    height: 30px;
    overflow: hidden;
    text-overflow: "...";
    border: 1px solid #000000;
    color: black;
}

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 10px;
    }
}