{% load bootstrap3 %} {%load static%}{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> {%if title%}

    <title>{{title}}</title>
    {%endif%} {%block styles%}{%bootstrap_css%}
    <link rel="stylesheet" href="{% static 'css/basecc.css' %}">{%endblock%}
</head>

<body>
    {%include 'navbar.html'%}
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <li>
            <form class="navbar-form " role="search " action="{%url 'search_results'%}">

                <div class="input-group" style="width: 100%;">
                    <input type="text " class="form-control " placeholder="Search projects " name="projects">


            </form>
        </li>
        <a href="/accounts/login">Register/login</a>
        <a href="/">Home</a>
        <a href="{%url 'addproject'%}">Submit project</a>
        <a href="{%url 'allproject'%}">Projects</a>
        <a href="{%url 'profile' request.user.id%} " target="_blank " rel="noopener noreferrer ">Profile</a>
        <a href="api/profiles/">Profile API</a>
        <a href="api/projects/">Project API</a>
        <a href="/accounts/logout">Logout</a>
        </div>{%block content%}{%endblock%} {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="{%static 'js/basejs.js'%}"></script> {% bootstrap_javascript %} {% endblock %}
</body>

</html>